<ion-content class="ion-padding">
 <ion-modal [isOpen]="isOpen" (didDismiss)="discardChanges()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Add Meal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="discardChanges()">Discard</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Input title of your meal"
          labelPlacement="stacked"
          [(ngModel)]="mealTitle">
        </ion-input>
      </ion-item>
      <ion-button expand="block" (click)="onAddClick()" [disabled]="this.mealTitle.trim().length === 0">Add</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>